@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
}

html {
    font-family: "ClashDisplay-Variable";
    overscroll-behavior: none;
}

:root {
    --border-top-style: 2px solid rgb(255, 255, 255);
    --border-bottom-style: 2px solid black;
    --h1-size-style: 5vw;
    --h2-size-style: 2vw;
    --h3-size-style: 1.1vw;
    --footer-size-style: 1.1vw;
    --normal-size-style: 1.2vw;
    --h3-weight-style: 600;
    --normal-weight-style: 500;
    --nav-top-padding-style: 1.2vw 1.5vw;
    --nav-bottom-padding-style: 1.2vw 1.5vw;
    --icon-size: 20px;
    --search-color: rgb(87, 87, 87);
    --accent-color: #e05558;
    --accent-color-2: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    transition: color 0.5s;
}

body {
    background-color: var(--accent-color);
}


a:hover {
    color: white;
}

header {
    position: sticky;
    top: 0;
    background: white;
    transition: transform 0.3s ease-out;
    z-index: 10;
}

header.hide-on-scroll {
    transform: translateY(-100%);
}

.section-title {
    display: flex;
    border-bottom: var(--border-bottom-style);
    background-color: black;
    color: white;
}

.section-title h2 {
    font-weight: 600;
    font-size: 2vw;
    padding: 0.5vw;
}

.section-search {
    display: flex;
    border-bottom: var(--border-bottom-style);
}

.logo {
    border-right: var(--border-top-style);
}

nav h2 {
    padding: var(--nav-top-padding-style);
}

.title {
    width: 100%;
}

nav input {
    border: none;
    margin-left: 16px;
    font-size: var(--normal-size-style);
    font-weight: var(--normal-weight-style);
    color: var(--search-color);
    font-family: "Archivo";
    width: 100%;
}

nav input:focus {
  outline: none;
}

.wrapper-input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1vw;
    width: 100%;
}

.wrapper-input i {
    font-size: var(--icon-size);
}

.wrapper-menu button {
    height: 100%;
}

.wrapper-menu button.selected {
    background-color: black;
    color: white;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "ClashDisplay-Variable";
    font-weight: var(--h3-weight-style);
}

nav button {
    transition: color 0.5s, background-color 0.5s;
}

nav button:hover {
    background-color: var(--accent-color);
}

.wrapper-burger-menu {
    display: flex;
    background-color: white;
    padding: 0.5vw 1vw;
    justify-content: center;

    border-bottom: var(--border-bottom-style);
}

.wrapper-burger-menu button {
    font-size: var(--h3-size-style);
    padding: 0.5vw;
    margin: 0 0.3vw;
    font-weight: 900;
    align-self: center;
    justify-self: center;
    border: 2px solid black;
    color: black;
}

h1 {
    font-size: var(--h1-size-style);
    border-bottom: var(--border-bottom-style);

    padding: 3vw 1.5vw;
    background-color: var(--accent-color);
}

main h2 {
    border-bottom: var(--border-bottom-style);
    font-weight: var(--h3-weight-style);
    font-size: var(--h2-size-style);
    text-align: center;
    padding: 8vw 0;
    background-color: white;
}

.wrapper-background {
   
    width: 100%;
    background-color: white;
}

.wrapper-students {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    padding: 5% 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.3s ease;
}

.no-results {
    font-size: 2vw;
    font-weight: 500;
    text-align: center;
    color: black;
    padding-bottom: 20%;
    font-family: "Archivo";
}

.student-card {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1vw;
    font-size: var(--h3-size-style);
    font-weight: var(--h3-weight-style);
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    width: 100%;
    aspect-ratio: 16 / 9;
    
}

.student-card img {
    grid-row: span 3 / span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 1vw;
}

.student-card i {
    margin-right: 0.3vw;
}

.student-card .name {
    font-size: 1.8vw;
    font-weight: var(--h3-weight-style);
    margin-bottom: 0.5vw;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--accent-color-2);
}

.wrapper-interests {
    font-size: 1.1vw;
    grid-column-start: 2;
    grid-row-start: 2;
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Archivo";
    font-weight: 500;
}

.wrapper-contacts {
    font-size: 1vw;
    grid-column-start: 2;
    grid-row-start: 3;
    font-family: "Archivo";
    font-weight: 100;
    align-self: end;
    color: var(--accent-color);
}

.wrapper-documents {
    font-size: 1vw;
    grid-column-start: 3;
    grid-row-start: 3;
    font-family: "Archivo";
    font-weight: 100;
    align-self: end;
    color: var(--accent-color);
}

.wrapper-contacts *, .wrapper-documents *, .wrapper-interests * {
    margin-top: 0.2vw;
}

footer {
    border-top: var(--border-bottom-style);
    font-size: var(--footer-size-style);
    text-align: center;
    padding: 3vw 0;
    background-color: black;
    color: white;
}

.cards-enter-active,
.cards-leave-active {
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.cards-enter-from,
.cards-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

.cards-move {
  transition: transform 0.6s ease;
}

.category-selected {
    color: var(--accent-color);
    font-weight: 600;
}

@media (max-aspect-ratio: 1/1) {
    .wrapper-students {
        grid-template-columns: 1fr;
        width: 90%;
        gap: 5vw;
    }

    .student-card .name {
        font-size: 4.4vw;
    }

    .section-title h2 {
        font-size: 3.8vw;
        padding: 3vw;
    }
    
    .section-search {
        display: flex;
        border-bottom: var(--border-bottom-style);
        padding: 2vw 0;
    }
    
    .logo {
        border-right: var(--border-top-style);
    }
    
    nav h2 {
        padding: var(--nav-top-padding-style);
    }
    
    nav input {
        margin-left: 8px;
        font-size: 4vw;
    }
    
    .wrapper-input i {
        font-size: 3.5vw;
        margin: 1vw 0;
    }
    
    .wrapper-burger-menu {
        display: flex;
        flex-wrap: wrap;
        padding: 2vw 1vw;
    }
    
    .wrapper-burger-menu button {
        font-size: 3.5vw;
        margin: 0.5vw 0.5vw;
        font-weight: 600;
    }
    
    h1 {
        font-size: 12vw;
        padding: 6vw 1.5vw;
    }
    
    main h2 {
        font-size: 3.5vw;
        padding: 8vw 4vw;
    }
    
    .no-results {
        font-size: 5vw;
    }

    .wrapper-interests {
        font-size: 3vw;
    }
    
    .wrapper-contacts {
        font-size: 2.7vw;
    }
    
    .wrapper-documents {
        font-size: 2.7vw;
    }
    
    .wrapper-contacts *, .wrapper-documents *, .wrapper-interests * {
        margin-top: 0.4vw;
    }
    
    footer {
        font-size: 3vw;
        padding: 5vw;
    }
}
  